<% form_for([@section, @staff]) do |f| %>
  <%= f.error_messages %>

  <div class="row">
    <span class="label"><%= f.label "处室" %></span>
    <span class="data">
      <%= f.collection_select :section_id, Section.all, :id, :name, \
                            {}, {:disabled => true} %></span>
  </div>
  <div class="row">
    <span class="label"><%= f.label "登录名" %></span>
    <span class="data"><%= f.text_field :account %></span>
  </div>
  <div class="row">
    <span class="label"><%= f.label "中文名" %></span>
    <span class="data"><%= f.text_field :name %></span>
  </div>
  <% if @staff.new_record? %>
    <div class="row">
      <span class="label"><%= f.label "密码" %> </span>
      <span class="data"><%= f.password_field :password %></span>
    </div>
    <div class="row">
      <span class="label"><%= f.label "确认密码" %></span>
      <span class="data"><%= f.password_field :password_confirm %></span>
    </div>
  <% end %>
  <div class="row">
    <span class="label"><%= f.label "房间号" %></span>
    <span class="data"><%= f.text_field :room %></span>
  </div>
  <div class="row">
    <span class="label"><%= f.label "电话" %></span>
    <span class="data"><%= f.text_field :phone %></span>
  </div>

  <div class="row">
    <%= f.submit "保存" %>
    <%= link_to "返回", sections_path %>
  </p>

<% end %>
