- form_for([@section, @staff]) do |f|
  = f.error_messages header_message: "以下输入信息错误，请重新输入", message: nil 
  = f.label "处室"
  = f.collection_select :section_id, Section.all, :id, :name, {}
  %br
  = f.label "登录名"
  = f.text_field :account
  %br
  = f.label "中文名"
  = f.text_field :name
  %br
  = f.label "密码"
  = f.password_field :password
  %br
  = f.label "确认密码"
  = f.password_field :password_confirm
  %br
  = f.label "房间号"
  = f.text_field :room
  %br
  = f.label "电话"
  = f.text_field :phone
  %br
  .action
    = f.submit "保存"
    = link_to "返回", sections_path
