- semantic_form_for [@section, @staff] do |f|
  - f.inputs do
    = f.input :section
    = f.input :account
    = f.input :name
    = f.input :password
    = f.input :password_confirm
    = f.input :room, required: false
    = f.input :phone, required: false
  - f.buttons do
    = f.commit_button "确定"

