<h1>设备分配历史记录</h1>

<table>
  <tr>
    <th>序号</th><th>分配日期</th><th>使用人</th><th>分配人</th><th>备注信息</th><th>操作</th>
  </tr>

<% for assignment in @assignments %>
  <tr>
    <td><%=h assignment.id %></td>
    <td><%=h assignment.assign_date %></td>
    <td><%=h assignment.owner.id %></td>
    <td><%=h assignment.assigner.id %></td>
    <td><%=h assignment.comment %></td>
    <td>
      <%= link_to 'Show', assignment %>
      <%= link_to 'Edit', edit_assignment_path(assignment) %>
      <%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

