<h1>设备分配</h1>

<div style="background-color: #cc9; border: 1px; padding: 5px; margin: 0px auto;">
  <% form_for([@equipment, @assignment]) do |f| %>
    <%= f.error_messages %>

    <div class="row">
      <span class="label"><%= f.label "分配日期:" %></span>
      <span class="data"><%= f.text_field :assign_date %></span>
    </div>
    <div class="row">
      <span class="label"><%= f.label "使用部门:" %></span>
      <span class="data">
        <%= collection_select :staff, :section_id, Section.all, :id, :name, :include_blank => true %> 
      </span>
    </div>
    <div class="row">
      <span class="label"><%= f.label "使 用 人:" %></span>
      <span class="data">
        <%= f.select :owner_id,[] %>
      </span>
    </div>
    <div class="row">
      <span class="label"><%= f.label "备注信息:" %></span>
      <span class="data"><%= f.text_area :comment %></span>
    </div>

    <div class="row">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
