- form_for(@issue) do |f|
  = f.error_messages
  %div
    = f.label :subject, "任务描述"
    = f.text_field :subject
  %div
    = f.label :category_id, "类别"
    = f.collection_select(:category_id, IssueCategory.all, :id, :name)
  %div
    = f.label :description, "备注"
    = f.text_area :description
  %div
    = f.label :applicant_id, "申请人"
    = f.collection_select :applicant_id, Staff.all, :id, :name
  %div
    = f.label :priority_id, "优先级"
    = f.collection_select :priority_id, IssuePriority.all, :id, :name
  .action
    = f.submit "确定"
