%h3 修改任务
- form_for(@issue) do |f|
  = f.error_messages
  %br
  = f.label "任务"
  = f.text_field :subject
  %br
  = f.label "备注"
  = f.text_area :description
  %br
  = f.label "状态"
  = f.collection_select :status_id, IssueStatus.all, :id, :name
  %br
  = f.label "优先级"
  = f.collection_select :priority_id, IssuePriority.all, :id, :name
  %br
  = f.label "申请人"
  = f.collection_select :applicant_id, Staff.all, :id, :name
  %br
  .action
    = f.submit '确定' 
    = f.submit '取消'
