%h3 任务列表

%table
  %tr
    %th 任务名称
    %th 任务明细
    %th 申请者
    %th 状态
  - @issues.each do |issue|
    %tr
      %td= issue.subject
      %td= issue.description
      %td= issue.try(:applicant).try(:name)
      %td= issue.status.name
      %td 
        = link_to 'Edit', edit_issue_path(issue)
        = link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete
<br />

= link_to '新增任务', new_issue_path
