%h3 任务列表

%table
  %thead
    %tr
      %th 编号
      %th 任务类别
      %th 任务标题
      %th 申请者
      %th 优先级
      %th 状态
  %tbody
    - @issues.each do |issue|
      %tr
        %th= issue.id
        %td= issue.category.name
        %td= issue.subject
        %td= issue.try(:applicant).try(:name)
        %td= issue.priority.name
        %td= issue.status
        %td 
          = link_to '编辑', edit_issue_path(issue)
          = link_to '删除', issue, :confirm => '确定删除吗？', :method => :delete
<br />

= link_to '新增任务', new_issue_path
