%h3= @issue.new_record? ? "增加任务" : "编辑任务"
- semantic_form_for @issue do |f|
  - f.inputs do
    = f.input :subject
    = f.input :description, required: false
    = f.input :category
    = f.input :priority, required: false
    - unless @issue.new_record?
      = f.input :status
      = f.input :applicant
      = f.input :author
  - f.buttons do
    = f.commit_button "确定"
