- form_for @equipment do |f|
  %div
    = f.label :code, "设备编号"
    = f.text_field :code, :value => @equipment.code
  %div
    = f.label :category_id, "设备类别"
    = f.collection_select :category_id, ProductCategory.all, :id, :name
  %div
    = f.label :brand, "设备品牌"
    = f.text_field :brand
  %div
    = f.label :model, "设备型号"
    = f.text_field :model
  %div
    = f.label :buy_date, "采购日期"
    = f.text_field :buy_date
  %div
    = f.label :price, "采购价格"
    = f.text_field :price
  .action
    = f.submit "保存"
    = link_to "返回", equipment_path
