- form_for @equipment do |f|
  .row
    %span.label
      = f.label :code, "设备编号"
    %span.data
      = f.text_field :code, :value => @equipment.code
    %span.error
      = f.error_message_on :code
  .row
    %span.label
      = f.label :category_id, "设备类别"
    %span.data
      = f.collection_select :category_id, Category.all, :id, :name
  .row
    %span.label
      = f.label :brand, "设备品牌"
    %span.data
      = f.text_field :brand
  .row
    %span.label
      = f.label :model, "设备型号"
    %span.data
      = f.text_field :model
  .row
    %span.label
      = f.label :buy_date, "采购日期"
    %span.data
      = f.text_field :buy_date
  .row
    %span.label
      = f.label :price, "采购价格"
    %span.data
      = f.text_field :price
  .action{ :style => "align: right" }
    = f.submit "保存"
    = link_to "返回", equipment_path
