%h1
  设备列表
%table
  %tr
    %th
      设备编号
    %th
      设备类别
    %th
      设备品牌
    %th
      型号
    %th
      购买日期
    %th
      单价
    %th
      使用人
    %th
      操作
    %th
      设备分配
  - @equipment.each do |item|
    %tr
      %td
        = h item.code
      %td
        = h item.try(:category).try(:name)
      %td
        = h item.brand
      %td
        = h item.model
      %td
        = h item.buy_date
      %td
        = h item.price
      %td
        = h item.owner.name unless item.owner.nil?
      %td
        = link_to "编辑", edit_equipment_instance_path(item)
        = link_to "删除", equipment_instance_path(item),  :confirm => "确定吗?", :method => :delete
      %td
        %button#assignment{ :type => "button" }
          分配
= link_to "新增设备", new_equipment_instance_path
