<% form_for @purchase do |f| %>

  <fieldset>
    <legend>采购基本信息</legend>
    <ol>
      <li>
      <%= f.label :buy_date, "采购日期" %>
      <%= f.text_field :buy_date %>
      </li>
      <li>
      <%= f.label :buyer, "经办人" %>
      <%= f.text_field :buyer %>
      </li>
      <li>
      <%= f.label :supplier, "供货单位" %>
      <%= f.text_field :supplier %>
      </li>
      <li>
      <%= f.label :comment, "备注信息" %>
      <%= f.text_area :comment, :rows => 5 %>
      </li>
    </ol>

    <div id="line_items"></div>
  </fieldset>

  <%= render :partial => 'lineitems/lineitem' %>

  <fieldset class="submit">
    <input class="submit" type="submit" value="保存" />
  </fieldset>
<% end %>
