%h3 新增采购
- form_for @purchase do |f|
  %div
    = f.label :buy_date, "采购日期"
    = f.text_field :buy_date
  %div
    = f.label :buyer, "经办人"
    = f.text_field :buyer
  %div
    = label :supplier, :name, "供货单位"
    = collection_select(:supplier, :name, Supplier.all, :id, :name, {:prompt => "请选择供货单位"})
    = link_to "添加供货单位", new_supplier_path
  %div
    = f.label :comment, "备注信息"
    = f.text_area :comment, :rows => 5
  .action
    %input.submit{ :type => "submit", :value => "确定" }
    = link_to "返回", purchases_path
