- semantic_form_for @purchase do |f|
  - f.inputs do
    = f.input :buy_date, :as => :string
    = f.input :buyer
    = f.input :supplier, :hint => "如果供应商不存在，#{link_to '添加供应商', new_supplier_path}"
    = f.input :comment
  - f.buttons do
    = f.commit_button "确定"
