<tr>
  <td><%= staff.account %></td>
  <td><%= staff.name %></td>
  <td><%= staff.room %></td>
  <td><%= staff.phone %></td>
  <td><%= staff.updated_at.to_date %></td>
  <td><%= link_to "编辑", edit_section_staff_path(staff.section, staff) %>
    <%= link_to "删除", 
      section_staff_path(staff.section, staff),
      :confirm => '确定吗?',
      :method => :delete %>
  </td>
</tr>
