<h1>添加新产品</h1>

<% form_for @product do |f| -%>
  <fieldset>
    <legend>产品信息</legend>
    <ol>
      <li>
      <%= label :category, :name, "产品类别" %>
      <%= collection_select(:category, :name, Category.all, :id, :name,
                            {:prompt => "请选择产品类别"}) %>
      <%= link_to "增加产品类别", new_category_path %>
      </li>
      <li>
      <%= f.label :brand, "品牌" %>
      <%= f.text_field :brand %>
      </li>
      <li>
      <%= f.label :mode, "型号" %>
      <%= f.text_field :mode %>
      </li>
      <li>
      <%= f.label :detail, "明细" %>
      <%= f.text_area :detail %>
      </li>
    </ol>
  </fieldset> 
  <fieldset class="submit">
    <input class="submit" type="submit" value="保存" />
  </fieldset>
<% end -%>
