- form_for(@supplier) do |f|
  = f.error_messages
  %div
    = f.label "供应商名称"
    = f.text_field :name
  %div
    = f.label "法人代表"
    = f.text_field :boss
  %div
    = f.label "地址"
    = f.text_field :address
  %div
    = f.label "电话"
    = f.text_field :phone
  .action
    = f.submit '确定'
    = f.submit '取消'

