!!!
%html
  %head
    %title
      湖北银监局综合事件管理系统
    -# = stylesheet_link_tag "cims", "jqueryslidemenu", "ui.all", :media => "all"
    = stylesheet_link_tag "jqueryslidemenu", :media => "all"
    = stylesheet_link_tag "compiled/screen", "compiled/link_icons", "compiled/buttons", :media => "all"

    = javascript_include_tag "jquery-1.3.2", "jqueryslidemenu", "application", "jquery-ui-1.7.1.custom"
  %body.three-col.bp
    #header
      %h1
        = @page_title || "湖北银监局信息科技综合服务平台"
      #myslidemenu.jqueryslidemenu
        %ul
          %li
            = link_to "用户管理", sections_path
          %li
            = link_to "产品管理", products_path
          %li
            = link_to "设备入库", equipment_path
          %li
            = link_to "采购管理", purchases_path
    #sidebar
      %p sidebar
    #content
      - if flash[:notice]
        #notice
          = flash[:notice]
      = yield :layout
    #footer
      %p Footer
