!!!
%html{xmlns: "http://www.w3.org/1999.xhtml", lang: "en", 'xml:lang' => "en"}
  %head
    %title 湖北银监局综合事件管理系统
    %meta{'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8"}
    = stylesheet_link_tag "jqueryslidemenu", :media => "all"
    = stylesheet_link_tag "jquery-ui-1.7.2.custom", :media => "all"
    = stylesheet_link_tag "demo_table_jui"
    = stylesheet_link_tag "compiled/screen", "compiled/link_icons", "compiled/buttons", :media => "all"

    = javascript_include_tag "jquery-1.3.2.min",  "jquery-ui-1.7.2.custom.min"
    = javascript_include_tag "jquery.dataTables", "jqueryslidemenu"
    = javascript_include_tag "application"
  %body.container
    #header
      #signup
        - if signed_in?
          = link_to "注销", sign_out_path
        - else
          = link_to "登录", sign_in_path
        = link_to "注册", sign_up_path
      %h1= @page_title || "湖北银监局信息科技综合服务平台"
      #myslidemenu.jqueryslidemenu
        %ul
          %li= link_to "事件管理", issues_path
          %li= link_to "用户管理", sections_path
          %li= link_to "产品管理", products_path
          %li= link_to "设备管理", equipment_path
          %li
            = link_to "采购管理", purchases_path
            %ul
              %li= link_to "供应商管理", suppliers_path
    #sidebar
      %p sidebar
    #content
      - if flash[:notice]
        #notice= flash[:notice]
      = yield :layout
    #footer
      %p Footer
